.collab-wrapper{
  height: 88vh;
  width: 98.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: black;
}

.form-wrapper{
  background:#282a36;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  max-width: 90%;
}
footer{
  position: fixed;
  bottom: 0;
}
footer a{
  color: #4aee88;
}
.collab-logo{
  height: 60px;
  width: 60px;
  margin-bottom: 10px;
}
.logo-wrapper{
  display: flex;
  align-items: center;

}
.logo-wrapper h2{
  font-weight: bolder;
}

.inputGroup{
  display: flex;
  flex-direction: column;
}
.mainLabel{
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 0;
}

.inputBox{
  padding: 6px;
  border-radius: 8px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background-color: #211d1d;
  font-size: 15px;
}


.btn{
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-bottom: 10px;
}
.joinBtn{
  background-color: #4aee88;
  width: 100px;
  margin-left: auto;
  color: black;
  font-weight: bold;

}
.joinBtn:hover{
  background-color: #429844;
}
/* .backBtn{
  background-color: grey;
  width: 100px;
  margin-left: auto;
  color: black;
  font-weight: bold;

}
.backBtn:hover{
  background-color: rgb(237, 66, 66);
} */

.createInfo{
  margin: 0 auto;
  margin-top: 20px;
}
.createNewBtn{
  color: #4CAF50;
  text-decoration: none;
  border-bottom: 1px solid #4CAF50;
  transition: all 0.3s ease-in-out;

}
.createNewBtn:hover{
  color: #429844;
  border-color: #429844;
}


.mainWrap{
  display: grid;
  grid-template-columns: 230px 1fr;
}

.aside{
  background-color: #1c1e29;
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.asideInner{
  flex: 1;
}
.clientsList{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.client{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.username{
  margin-top: 10px;
}

.logo{
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
}

.logoImage{
  height: 60px;

}

.leaveBtn{
  margin-top: 20px;
  background-color: #4aed88;
  width:100% ;
  margin-left: auto;
}
.leaveBtn:hover{
  background-color: #2b824c;
}


.editorWrapper {
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.CodeMirror {
  height: 100% !important;  /* Full height for the CodeMirror instance */  
  border: 1px solid #ccc; 
}




